// Specific CSS for your home-page
/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  background-color: #000000;
  color: #fff;
  padding: 100px 0;
}

.banner h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 15px 25px; /* Adjusted for a more compact look */
  font-size: 20px; /* Slightly larger font for better readability */
  text-decoration: none;
  color: #fff;
  background-color: #007bff; /* You can change this to a more neon-friendly color if desired */
  border: none;
  border-radius: 25px; /* More rounded corners */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.5), 0 0 60px rgba(0, 123, 255, 0.3);
}

.btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(0, 86, 179, 0.8), 0 0 50px rgba(0, 86, 179, 0.6), 0 0 75px rgba(0, 86, 179, 0.4);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.5), 0 0 60px rgba(0, 123, 255, 0.3);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.5);
}

.how-it-works {
  padding: 50px 0;
}

.how-it-works h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: white;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.step-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

.step-card-kills {
  background-color: #333333;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
};


.step-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.step-card p {
  font-size: 16px;
  color: #666;
}

.matchfinder {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.matchfinder h2 {
  margin-bottom: 10px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.game {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.game h3 {
  margin-bottom: 5px;
}

.game p {
  margin: 0;
  font-size: 14px;
}
