<div class= "center-box">
 <div class="d-flex justify-content-center w-75 mb-5">
    <%= image_tag "PLOGO.png", height: 150, width: 150 %>
    <%= image_tag "TARGETLOGO.png", height: 150, width: 150 %>
    <%= image_tag "PLOGO.png", height: 150, width: 150 %>
  </div>
  <%= button_to "VEDL1 HAS INVITED YOU TO PLAY | CLICK TO ACCEPT", competition_agree_path(@competition), method: :patch, class:"btn" %>
</div>
