<div class= "center-box">
  <img width= "600px" src="assets/logo banner.png">
  <%= button_to "VED HAS INVITED YOU TO PLAY COD:WARFARE | ACCEPT..." , loading_path, class:"accept", method: :get %>
</div>
