
  <h1 class="dashboard-1">MINAN</h1>
  <h3 class= "dashboard-2">Verified Member</h3>
  <%= button_to "Your Invitations", invitations_path, class:"accept" %>
   <div class= "center-box">
  <img class width= "600px" src="assets/logo banner.png">
  <div class="cards">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      VIEW FULL RANKING HISTORY:
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      VIEW FULL TOKENS HISTORY:
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      VIEW FULL GAMES RECORD HISTORY:
    </div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      VIEW FULL RANKING HISTORY:
    </div>

  </div>
