<div class="center-box">
  <div class="d-flex justify-content-center w-75 mb-5">
    <%= image_tag "PLOGO.png", height: 150, width: 150 %>
    <%= image_tag "TARGETLOGO.png", height: 150, width: 150 %>
    <%= image_tag "PLOGO.png", height: 150, width: 150 %>
  </div>
    <div><h1>Awaiting Opponent To Accept Invitation...</h1></div>
</div>
