<div class= "center-box" data-controller="end-game">
<div class= "d-flex justify-content-center w-75 mb-5">
  <%= image_tag "PLOGO.png",height:150, width:150 %>
  <%= image_tag "TARGETLOGO.png", height:150, width:150 %>
  <%= image_tag "PLOGO.png",height:150, width:150 %>
</div>
  <div class="mt-3"><h1>Gameplay In Progress...</h1></div>
  <%= button_to "Game has ended. View results", competition_result_path(@competition), method: :post, data: {end_game_target: "end"}, class:"btn d-none" %>
</div>
