<div class= "center-box">
<%= image_tag "logo banner.png", width: 600 %>
<h1>Gameplay In Progress...</h1>
  <%= button_to "Game has ended. View results", competition_result_path(@competition), method: :post, class:"accept" %>
</div>
