<div class= "center-box">
  <img width= "600px" src="assets/logo banner.png">
<h1>Gameplay In Progress...</h1>
  <%= button_to "Game has ended. View results", competition_result_path(@competition), method: :post, class:"accept" %>
</div>
