  <div class="form-background">

  <div class="form-container">

<div class="form">
  <div class="blue-bar"></div>
  <h1>Player Form</h1>
  <div class="game-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/wzm/WZM-01-LAUNCH-TOUT.jpg)">

   </div>

<%= simple_form_for [@game, @competition], class: "game-form" do |f| %>
<%# <span class="input-group-text">$</span> %>
<%= f.input :wager, class:"form-control"%>
<%# <span class="input-group-text">.00</span> %>
<%= f.input :gamer_tag, class:"form-control" %>
<%= f.submit "GO!", class: "btn btn-primary" %>
<%# <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@example.com</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <span class="input-group-text">@</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
</div> %>
<% end %>
</div>
</div>
</div>
