<div class="match-container">
  <div class="header">
</div>
  <div class="game-title">
    <h1>CALL OF DUTY: WARZONE</h1>
  </div>
  <div class="player-card winner">
        <%= image_tag "minanavatar.png", class:"avatar" %>
      <div class="badge winner-badge">WINNER!</div>
      <div class="pro-badge">PRO
        <h2><%= @result.user.gamer_tag %></h2>
      </div>
      <div class="stats">
        <h3>IN-GAME STATISTICS:</h3>
        <p>KILLS: <%= @result.user.stats.last.kills %></p>
      </div>
    </div>
