<div class="match-container">
  <div class="header">
  </div>
  <div class="game-title">
    <h1>CALL OF DUTY: WARZONE</h1>
  </div>
  <div class="stats-container">
    <div class="player-card winner">
        <%= image_tag "minanavatar.png", class:"avatar" %>
      <div class="pro-badge">PRO </div>
      </div>
       <div class="badge-winner-results">WINNER!</div>

      <div class="player-card loser">
      <%= image_tag "vedavatar.png", class:"avatar" %>


      </div>
