
<div class="dash-intro">
  <div class="d-flex">
    <%= image_tag "minanavatar.png", class: "avatar-1" %>
    <div class="dash-details">
      <h1 class="dashboard-1">MINAN</h1>
      <h3 class= "dashboard-2">Verified Member</h3>
    </div>
  </div>

  <%= image_tag "logo.png", class: "logo-dashboard" %>
</div>

<div class="inv-btn">
  <%= button_to "INVITATIONS", invitations_path, method: :get, class: "invitations"%>
</div>


<div class="dash-card">
    <div class="dash-titles">
      <h3>Rank</h3>
      <h1>50</h1>
    </div>
    <div class="dash-titles">
      <h3>Tokens</h3>
      <h1> <%= current_user.tokens %></h1>
    </div>
    <div class="dash-titles">
      <h3>Record</h3>
      <h1></h1>
    </div>
    <div class="dash-titles" id='recent'>
      <h3>Recent</h3>
      <h1></h1>
    </div>
</div>

<div class="dassteps">
  <!-- Dashboard 1 Card -->
  <div class="dash-card">
    <h3>VIEW FULL RANKING HISTORY:</h3>
  </div>
  <!-- Dashboard 2 Card -->
  <div class="dash-card">
    <h3>VIEW FULL TOKENS HISTORY:</h3>
  </div>
  <!-- Dashboard 3 Card -->
  <div class="dash-card">
    <h3>VIEW FULL GAMES RECORD HISTORY:</h3>
  </div>
    <!-- Dashboard 3 Card -->
  <div class="dash-card">
    <h3>VIEW FULL RECENT MATCHES HISTORY:</h3>
  </div>
</div>
