<div class="banner">
  <div class="container d-flex justify-content-center align-items-center flex-column">
    <h1> The #1 Platform for In-Game Wagering </h1>
    <a class="btn btn-primary" href="#">Let's Play!</a>
  </div>
</div>
