<div class="container games">
  <h2>MULTIPLAYER</h2>
  <h1>GAMES</h1>
  <div class="cards">
    <% @games.each do |game| %>
      <%= link_to new_game_competition_path(game) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= game.image_url %>;)">
         <h2><%= game.title %></h2> <br>
          <p> <%= game.platform %> </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
