<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multiplayer Games</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: black;
      margin: 0;
      padding: 0;
      color: white;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    .games h2, .games h1 {
      text-align: center;
      margin: 10px 0;
    }

    .games h2 {
      font-size: 30px;
      font-weight: 400;
    }

    .games h1 {
      font-size: 45px;
      font-weight: 700;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 18px;
      padding-top: 25px;
    }

    .card-category {
      background-size: cover;
      background-position: center;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      flex-direction: column;
      transition: transform 0.3s, box-shadow 0.3s;
      overflow: hidden;
    }

    .card-category h2 {
      margin: 0;
      font-size: 18px;
    }

    .card-category p {
      margin: 5px 0 0;
      font-size: 14px;
    }

    .card-category:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    .games {
      color: white;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: block;
    }

    a:hover .card-category {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    @media (max-width: 768px) {
      .card-category {
        height: 150px;
      }

      .games h1 {
        font-size: 28px;
      }

      .games h2 {
        font-size: 20px;
      }

      .cards {
        grid-template-columns: 1fr;
      }
    }
  </style>
</head>
<body>
  <div class="container games">
    <h2>MULTIPLAYER</h2>
    <h1>GAMES</h1>
    <div class="cards">
      <% @games.each do |game| %>
        <%= link_to new_game_competition_path(game) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= game.image_url %>);">
           <h2><%= game.title %></h2>
            <p><%= game.platform %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
