.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(90deg, #0CB4FB, #E936CD);
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-item {
  font-family: "Audiowide";
}
