.form-container{
  width: 100%;
  display:flex;
  justify-content: center;

  .form {
    width: 40%;
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
  }
}

.form-background {
  background-image: asset-url("form-background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.game-img {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-top: 15px;
  margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.blue-bar {
  background-color: rgb(12, 150, 224);
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: rgb(12, 150, 224) !important;
}

.game-form {
  margin-bottom: 20px;
}
