body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 400px;
  background-color: rgba(30, 30, 30, 0.9); /* Dark semi-transparent background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Darker shadow for more contrast */
  padding: 40px;
  text-align: center;
  color: #ecf0f1; /* Light font color */
}

.form-background {
  background-image: url('https://img.freepik.com/premium-vector/perspective-grid-abstract-wireframe-landscape_322958-2224.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.game-img {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(241, 241, 241, 0.2);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  background-color: #444; /* Darker background for form inputs */
  color: #ecf0f1;
}

.form-control::placeholder {
  color: #95a5a6;
}

.btn-primary.custom-btn {
  background-color: #0CB4FB !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  font-size: 18px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.btn-primary.custom-btn:hover {
  background-color: #1e74e5 !important;
}

.btn {
  font-family: "Audiowide" !important;
}

.label-font {
  font-family: "Helvetica";
}
